.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
    background-color: aliceblue;
  }

h1 {
    font-size: 125px;
    font-family: 'Courier New', Courier, monospace;
    margin: 75px;
}

nav {
    margin-top: 45px;
    margin-right: 150px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  
nav li {
    margin-right: 100px;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
  }

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #058aff;
}

body {
    background-color: #FAF9F6;
}
  
footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
}

footer p {
    margin-bottom: 50px;
}

footer ul {
    margin-top: 10px;
}

footer ul li {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

 @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
    
    nav {
      margin-top: 10px;
    }
    
    nav ul {
      flex-wrap: wrap;
    }
    
    nav li {
      margin-right: 50px;
      margin-bottom: 100px;
    }
  }

.card-container {
    display: flex;
}

.card {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    height: 600px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(2px 2px 2px #666666);
  }

.card-info {
    padding: 10px;
}

.card1 {
    flex-basis: 25%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.card2 {
    flex-basis: 75%;
    margin-right: 25px;
}

.card3 {
    flex-basis: 50%;
    margin-left: 25px;
    margin-right: 25px;
}

.card4 {
    flex-basis: 50%;
    margin-right: 25px;
    margin-bottom: 50px;
}

.card5 {
    flex-basis: 50%;
    margin-left: 25px;
    margin-right: 25px;
}

.card6 {
    flex-basis: 50%;
    margin-right: 25px;
    margin-bottom: 50px;
}

.project-card-header {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 5px #666666);
    border-bottom: 10px;
  }

.project-card-info {
    padding: 10px;
}